.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.heart {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.heart::before,
.heart::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50px;
  height: 80px;
  background-color: transparent;
  border-top: 2px solid red;
  border-left: 2px solid red;
  border-radius: 50% 50% 0 0;
  animation: drawHeart 2s linear infinite, stayOnScreen 20s linear forwards; /* Ajuste aqui */
}

.heart::before {
  left: 50%;
  transform: translateX(-90%) rotate(-45deg) scaleY(1.3); /* Ajuste aqui */
}

.heart::after {
  left: 0;
  transform: translateX(70%) rotate(45deg) scaleY(1.3) scaleX(-1); /* Ajuste aqui */
}

@keyframes drawHeart {
  0%, 25% {
    width: 0;
    height: 0;
    border-color: transparent;
  }
  50%, 100% {
    width: 50px;
    height: 80px;
    border-color: red;
  }
}

.buttonLike {
  display: inline-block;
  padding: 10px 20px; /* ajuste o padding conforme necessário */
  font-size: 16px; /* ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* cor do texto */
  background-color: #007bff; /* cor de fundo do botão */
  border: none;
  border-radius: 5px; /* ajuste o raio da borda conforme necessário */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttonLike:hover {
  background-color: #0056b3; /* cor de fundo do botão quando hover */
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 200px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  transition: opacity 0.3s;
}

.card.hovered {
  opacity: 0.5;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s;
}

.card-content.visible {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  background-color: white;
  padding: 20px;
  position: relative;
}

.modal-content img {
  width: 100%;
  height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
